:root {
    --scroll-width: 6px;
    --scroll-round: 4px;

    --scroll-track-bg: 'transparent';
    --scroll-slider-bg: #888888;
    --scroll-slider-bg-hover: #555555;
}

/* For Chrome */
*::-webkit-scrollbar {
    width: var(--scroll-width);
}

*::-webkit-scrollbar-track {
    background-color: var(--scroll-track-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-slider-bg);
    border-radius: var(--scroll-round);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-slider-bg-hover);
}

/* For Firefox */
* {
    scrollbar-width: thin;
}

*::-moz-scrollbar {
    width: var(--scroll-width);
}

*::-moz-scrollbar-thumb {
    background-color: var(--scroll-slider-bg);
    border-radius: var(--scroll-round);
}

*::-moz-scrollbar-thumb:hover {
    background-color: var(--scroll-slider-bg-hover);
}
